<div class="wrapper">
  <div class="wrapper-inner">
    <div class="col">
      <h2>
        {{ currentTime.toLocaleTimeString('de-at', { hour: 'numeric', minute: '2-digit' }) }}
      </h2>
    </div>
  </div>

  <div class="wrapper-inner row-center">
    <div class="col">
      <h1>{{ percent }}<span>%</span></h1>
    </div>
  </div>

  <div class="wrapper-inner row-center">
    <div class="col">
      <p>Don't wait. The time will never be just right.</p>
      <p>- Napoleon Hill</p>
    </div>
  </div>
</div>
