@font-face {
  font-family: "Jost-Light";
  src: url("/assets/fonts/Jost-Light.ttf") format("truetype");
  font-display: swap;
  font-weight: 300;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  font-family: "Jost-Light", "Poppins", "Helvetica Neue", Arial, sans-serif;
  user-select: none;
  font-weight: 300;
}

body {
  margin: 0;
  background-color: #ebeef0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  color: #222;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
