

<ion-content [fullscreen]="true">
  <ion-grid class="wrapper">
    <ion-row class="wrapper-inner">
      <ion-col>
        <h2>{{currentTime.toLocaleTimeString('de-at', {hour: 'numeric',
          minute: '2-digit'})}}</h2>
      </ion-col>
    </ion-row>
    <ion-row class="wrapper-inner row-center">
      <ion-col>
        <!-- <h2>{{currentTime.toLocaleTimeString('de-at', {hour: 'numeric',
          minute: '2-digit'})}}</h2> -->

        <h1>{{percent}}<span>%</span></h1>
      </ion-col>
    </ion-row>
    <ion-row class="wrapper-inner row-center">
      <ion-col>
        <p>Don’t wait. The time will never be just right.</p>
        <p>- Napoleon Hill</p>
      </ion-col>
    </ion-row>

  </ion-grid>




</ion-content>
